extends /layouts/default

block vars
  - var page = "home";
  - const github = "https://github.com/crisbal/Telegram-Bot-Node";
  - const repoName = github.split("/")[4];

block content
  include /partials/navbar
  +navbar(pages[page].title, github)
  
  .container
    section.hero.is-info.welcome.is-small
      .hero-body
        .container
          h1.title
            = pages[page].title
          h2.subtitle
            = pages[page].description
    // br
    // h1.title What is #{title}?
    p
      | #{pages[page].title} is an extensible #[strong Telegram bot] written in Node.js. Its architecture is based on plugins, many of which are bundled by default. It features:
      //- .content is needed for bullet lists
    .content
      ul(style="list-style-type: square;")
        li All bot API functions
        li Advanced moderation tools
        li An installation wizard
        li Enabling, disabling and live-reloading plugins
        li Importing custom plugins
        li Inline messages
    br
    .columns
      .column.has-text-centered
        h2.title Are you a user?
        a.bd-notification(href="developer.html", alt= "Are you a developer?", title="Are you a developer?")
          | Browse the usage guide
      .column.has-text-centered
        h2.title Are you a developer?
        a.bd-notification(href="developer.html", alt= "Are you a developer?", title="Are you a developer?")
          | Browse the documentation